$breakpoints: (
    phone: 320px,
    tablet: 768px,
    desktop: 1024px,
    bigscreen: 1200px,
    huge: 1600px
);

$color-main-primary: #296378;
$color-main-secundary: #1c333c;

$color-fitness-primary: #ed1c24;
$color-fitness-secundary: #720c20;

$color-bodyfit-primary: #6b489d;
$color-bodyfit-secundary: #ef4e52;

$color-boxing-primary: #283895;
$color-boxing-secundary: #ed1c24;

$color-urbancross-primary: #4cc0ad;
$color-urbancross-secundary: #1c397c;

$color-yoga-primary: #c81f66;
$color-yoga-secundary: #ffcc4e;

$color-cycling-primary: #1b75bb;
$color-cycling-secundary: #fdb913;

$color-impact-primary: #124B50;
$color-impact-secundary: #D4D84D;

$color-running-primary: #0E4D5E;
$color-running-secundary: #FCDDE2;
